.paginate {
    margin-top: 10px;
}
div.dataTables_filter, div.dataTables_length {
    padding: 10px;
  }
/*wrapper*/
.dataTables_wrapper {
    background-color: #fff;
}
/*Form fields*/
.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
    color: #4a5568 !important; 			/*text-gray-700*/
    padding-left: 1rem !important; 		/*pl-4*/
    padding-right: 1.25rem !important; 		/*pl-4*/
    padding-top: .5rem !important; 		/*pl-2*/
    padding-bottom: .5rem !important; 		/*pl-2*/
    line-height: 1.25 !important; 			/*leading-tight*/
    border-width: 1px !important; 			/*border-2*/
    border-radius: .25rem !important;
    border-color: #9CA3AF !important; 		/*border-gray-400*/
    background-color: #fff !important; 	/*bg-gray-200*/
}
/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current	{
    color: #fff !important;				/*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06); 	/*shadow*/
    font-weight: 700;					/*font-bold*/
    border-radius: .25rem;				/*rounded*/
    background: #34D399 !important;		/*bg-indigo-500*/
    border: 1px solid transparent;		/*border border-transparent*/
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
    color: #fff !important;				/*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);	 /*shadow*/
    font-weight: 700;					/*font-bold*/
    border-radius: .25rem;				/*rounded*/
    background: #059669 !important;		/*bg-indigo-500*/
    border: 1px solid transparent;		/*border border-transparent*/
}
table.dataTable {
    width: 100% !important;
}
table.dataTable tbody tr {
    border-width: 2px !important;
    border-color: rgb(0 0 0) !important;
    border-style: solid !important;
}
@media (max-width: 768px) {
    table.dataTable {
        border-collapse: collapse !important;
    }
}
